<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv="X-UA-Compatible" content = "IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- CSS -->
  <link rel='stylesheet' href='/Content/app.css' type="text/css" media="only screen and (min-width:960px)"/>
  <link rel='stylesheet' href='/Content/mobile.css' type="text/css" media="only screen and (max-width:480px)"/>
  <link rel='stylesheet' href='/Content/tablet.css' type="text/css" media="only screen and (min-width:481px) and (max-width:960px)"/>
  <!--<link rel='stylesheet' href='/content/app.css' />
  <link rel='stylesheet' href='/content/phone.css' />
  <link rel='stylesheet' href='/content/tablet.css' /> -->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>

 
 <script src="/scripts/app.js"></script>
 <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='/jquery/dist/jquery.min.js'> </script>
  
</head>
<body class=" text-dark">
