<!--Footer-->
  <nav class=" Navbar fixed-bottom navbar-dark text-align:center bg-dark">
  <h6 class="navbar-text">

  You can contact me at <br>
  <a href="https://www.linkedin.com/in/niya-chaudhari-7a33a5261/"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
   

<a href="https://github.com/niyaben"><i class="fa-brands fa-square-github"></i>Github</a>
   <br>
  &copy; Copyright 2023. All Rights Reserved.</h6>
  </nav>