  <!--Script files-->  
<!-- Include your custom JavaScript file --> 
    <script scr = "./scripts/app.js"></script>
    
    <!-- Include the Bootstrap JavaScript library -->
    <script scr = "./bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Include the jQuery library -->
    <script scr = "./jquery/dist/jquery.min.js"></script>
</body>
</html>
