  <!--Script files-->   
    <script scr = "./scripts/app.js"></script>
    <script scr = "./bootstrap/dist/js/bootstrap.min.js"></script>
    <script scr = "./jquery/dist/jquery.min.js"></script>
</body>
</html>
