
    <main>
        <section>
            <h1>About Me</h1><br><br><br>
            <!-- create 2 seprate classes to make left and right section on the page  -->
            <class id = "left">
            <img src="assests/images/WhatsApp Image 2023-10-01 at 08.17.26_229335e9.jpg" alt="Me" height="400" width="360">
            </class><br><br><br>
            <class id = "right">
            <article>
                <h2>Introduction</h2>
                <p><span>Hello, I'm Niya Chaudhari, a second-year student pursuing Networking and IT Security at Ontario Tech University.
                     My journey in the world of technology has been nothing short of exhilarating. From a young age,
                     I've been captivated by the intricate workings of computer networks and the ever-expanding universe of IT security.</span></p>
            </article>
            
            </class> 
            <!-- create a seprate class for video -->
            <div id = intro>
            <video controls>
                <source src="assests/images/Canva Intro video.mp4" type="video/mp4" >
                
            </video>
            </div>
        </section>
    </main>
    
