    <main>
        <section>
            <h1>Contact Us</h1>
            <p>You can reach us at niyaben.chaudhari@ontariotechu.net</p>
        </section>
        <div class="container">
            <!--form action="submit.php" method="post"-->
            <!-- use different labels to make form -->
                <form action=mailto:niyaben.chaudhari@ontariotechu.net ?subject=Signup Form method="post"
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="your name" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="your e-mail address " required>
    
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" placeholder="any message for us" required></textarea>
    
                
                <p><label for="oninput" placeholder = "any number" required>type any numerical data (so I know you are't a robot) </label></p>
<form oninput="x.value">
<input name="x" ></input>

    <!-- submit button to send the form information at provided mail id  -->
            <br><button type="submit">Submit</button><br>
            </form>
        </div>
    </body>
    </html>
    </main>

