
    <main> 
        <!-- the home page  -->
        <section>
            <h1>Welcome to My Website</h1>  <br><br><br>
            <h2> Niya Chaudhari</h2><br><br><br><br>
        
            <img src="assests/images/mee.jpg" alt="my bitmoji" height="800" width="350">
        
        </section>
    </main>
    