
    <main>
        <section>
            <!-- section has the main information of the page. -->
            <h1>Attraction of world</h1>
            <p>Here are some amazing locations:</p>
            <ul>
                <h2>1. TAJ MAHAL</h2>
                <img src="assests/images/Taj-Mahal-Agra-India.webp" alt="Taj Mahal" height="300" width="300">
            <article>
                
                <p>The Taj Mahal, an architectural marvel in the heart of India, stands as a timeless tribute to love and beauty. 
                    Crafted from the finest white marble, this masterpiece's symmetrical elegance and intricate
                     detailing leave visitors in awe. Built by Emperor Shah Jahan in memory of his beloved
                    Mumtaz Mahal, it symbolizes their eternal love. Its iconic silhouette against the Indian sky,
                    framed by lush gardens and reflecting pools, evokes a sense of serenity and romance. 
                    The Taj's exquisite craftsmanship and enduring legacy make it a UNESCO World Heritage Site 
                    and a destination that captures the imagination, inviting all to witness its breathtaking splendor.</p>
            </article>
                <h2>2. THE Pyramids</h2>
                <img src="assests/images/The pyramids.avif" alt="pyramids" height="300" width="300">
            <article>
                
                <p>The Pyramids of Egypt stand as eternal monuments to human ingenuity and ambition. These colossal structures, 
                    notably the Great Pyramid of Giza, have fascinated and mystified generations. Built over 4,500 years ago, 
                    they are a testament to the ancient Egyptians' remarkable engineering and architectural prowess. 
                    Rising from the sandy desert, the pyramids have endured millennia, preserving the tombs of 
                    pharaohs and the secrets of an ancient civilization. Their sheer size and precision of construction 
                    continue to inspire wonder, making the Pyramids of Egypt an enduring symbol of humanity's insatiable
                     thirst for knowledge, immortality, and the quest to conquer the sands of time.</p>
            </article>

            
            </ul>
        </section>
    </main>
